/* table.css */

.title {
  display: flex;
  align-items: center;
}

.table-container {
  height: 75vh; /* Set desired height (75% of viewport height) */
  overflow: auto; /* Enable vertical scrolling */
}

table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
}

th {
  background-color: #395241;
  font-weight: 500;
  padding: 10px;
  text-align: left;
  color: white; /* Text color for table headers */
}

th,
td {
  padding: 8px;
  font-size: small;
  border: 1px solid #ddd;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.icon1 {
  width: 20px;
  height: 20px;
}

.tran:hover {
  background-color: rgb(177, 175, 175);
}

td:hover {
  overflow: visible;
  white-space: normal;
  word-wrap: break-word;
  z-index: 2;
}

@media only screen and (max-width: 768px) {
  th,
  td {
    display: block;
    width: auto;
    text-align: left;
  }

  th {
    height: 0;
    padding-top: 0;
    padding-bottom: 0;
  }

  td {
    height: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    border: none;
  }

  .title {
    justify-content: space-between;
    padding: 10px;
  }

  .pagination {
    display: flex;
    justify-content: space-between;
    padding: 10px;
  }
}
